<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../js/dashboard.js" defer></script>
</head>

<body>
    <div id="navBarContainer">
        <nav class="navbar">
            <div class="logo-seccion">
                <div>
                    <div class="titulo">LogiTrack</div>
                    <div class="logo-subtitulo">Gestión Logística</div>
                </div>
            </div>

            <div class="nav-opciones">
                <button class="nav-item activo" data-target="bodegas">Bodegas</button>
                <button class="nav-item" data-target="inventario">Inventario</button>
                <button class="nav-item" data-target="movimientos">Movimientos</button>
                <button class="nav-item" data-target="auditoria">Auditoria</button>
                <button class="nav-item" data-target="usuarios" id="nav-usuarios" style="display:none;">Usuarios</button>
            </div>

            <div class="nav-derecha">
                <button class="cerrar-sesion">Cerrar Sesión</button>

                <div class="info-usuario">
                    <div class="iniciales" id="iniciales"></div>
                    <div class="user-detalles">
                        <div class="username" id="username"></div>
                        <div class="username-rol" id="username-rol"></div>
                    </div>
                </div>
            </div>
        </nav>

    </div>

    <div id="content" style="margin-top:100px;">
        <iframe id="bodegas" class="section" src="bodegas.html" style="width:100%; height:calc(100vh - 100px); border:none; display:none;"></iframe>
        <iframe id="inventario" class="section" src="inventario.html" style="width:100%; height:calc(100vh - 100px); border:none; display:none;"></iframe>
        <iframe id="movimientos" class="section" src="movimientos.html" style="width:100%; height:calc(100vh - 100px); border:none; display:none;"></iframe>
        <iframe id="auditoria" class="section" src="auditoria.html" style="width:100%; height:calc(100vh - 100px); border:none; display:none;"></iframe>
        <iframe id="usuarios" class="section" src="usuarios.html" style="width:100%; height:calc(100vh - 100px); border:none; display:none;"></iframe>
    </div>

</body>

</html>