<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/dashboard.css">
    <script src="../js/dashboard.js" defer></script>
</head>
<body>
    <nav class="navbar">

        <div class="logo-seccion">
            <div>
                <div class="titulo">LogiTrack</div>
                <div class="logo-subtitulo">Gestión Logística</div>
            </div>
        </div>

        <div class="nav-opciones">
            <button class="nav-item activo">Dashboard</button>
            <button class="nav-item">Bodegas</button>
            <button class="nav-item">Inventario</button>
            <button class="nav-item">Movimientos</button>
            <button class="nav-item">Auditoria</button>
        </div>

        <div class="nav-derecha">
            <button class="cerrar-sesion">Cerrar Sesión</button>

            <div class="info-usuario">
                <div class="username" id="username">Jesus Olarte</div>
                <div class="username-rol">Administrador</div>
            </div>
        </div>

    </nav>
    
</body>
</html>