body {
    display: flex;
    justify-content: center;
    align-items: center;
    }

#cuadro {
    width: 100%;
    max-width: 380px;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 40px 30px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

#titulo {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;

    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#descTitulo {
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    color: #a1a1aa;
    margin-bottom: 25px;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    font-size: 13px;
    color: #a1a1aa;
    margin-bottom: 6px;
    display: block;
}

#btnLogin {
    width: 100%;
    margin-top: 10px;
}
